@page "/accountmoves"
@inject IUntiWork db
@inject ISessionStorageService session
@inject IToastService toast
@inject NavigationManager nav

<div class="container rightdv">
    <HeadPage NameArbic="حركة الحساب" NameEnglish="Accounts"></HeadPage>

</div>




@code {




}
